name: CI

on:
  pull_request:
  push:
    branches: [ master ]

jobs:
  test:
    name: Test
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - run: rustup toolchain add 1.31 1.39 stable nightly
      - run: cargo +1.31 test --release --lib  # MSRV (examples don't compile)
      - run: cargo +1.39 test --release        # First version where examples compile
      - run: cargo +stable test --release
      - run: cargo +nightly test --release

  test_wasm:
    name: Test (WASM)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: rustup toolchain add 1.31
      - run: rustup target add wasm32-unknown-unknown --toolchain 1.31
      - run: node test_wasm.js

  fuzz:
    name: Fuzz
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: rustup toolchain add nightly
      - run: cargo install cargo-fuzz
      - run: cargo +nightly fuzz run fuzz_target_1 -- -max_len=100000 -timeout=1 -max_total_time=120

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: rustup target add x86_64-pc-windows-msvc wasm32-wasi wasm32-unknown-unknown

      - name: rustfmt
        run: cargo fmt -- --check

      - name: clippy (Linux)
        run: cargo clippy -- -D warnings

      - name: clippy (Windows)
        run: cargo clippy --target x86_64-pc-windows-msvc -- -D warnings

      - name: clippy (WASI)
        run: cargo clippy --target wasm32-wasi -- -D warnings

      - name: clippy (WASM)
        run: cargo clippy --target wasm32-unknown-unknown -- -D warnings
